:root {
  --purple: #7c2ae8;
  --black: #000;
  --white: #fff;
}
body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: var(--black);
  color: var(--white);
  font-family: "Nunito", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
}
@font-face {
  font-family: bright;
  src: url(../font/BrightDemo-axVxE.otf);
}
@font-face {
  font-family: Artisua;
  src: url(../font/ArtisualDecoRegular_PERSONAL_USE_ONLY.otf);
}
@font-face {
  font-family: Montserrat;
  src: url(../font/Montserrat-Light.otf);
}
span,
h1 {
  font-family: Artisua;
  font-weight: 50;
}
p {
  font-family: Montserrat;
}
/* ---------- NAVBAR ---------- */
.navbar {
  background: transparent !important;
  top: 40px;
}
.navbar h1 {
  color: #fff;
  font-size: 25px;
}
.navbar-brand img {
  width: 50px;
  transition: transform 0.6s ease;
  cursor: pointer;
}
.navbar-brand img:hover {
  transform: rotate(360deg);
}
/* ---------- OFFCANVAS MENU ---------- */
.offcanvas-start {
  background: var(--black);
  width: 50% !important;
}
.offcanvas a {
  color: var(--white);
  font-family: bright;
  font-size: 1.25rem;
  position: relative;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 1rem;
}
.offcanvas a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 3px;
  background: var(--purple);
  transition: width 0.3s ease;
}
.offcanvas a:hover::after {
  width: 100%;
}
/*Imagem do Logo no inicio*/
.logo-inicio {
  background-image: url("..//img/bannerlogo.png");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 40vh;
}

.bg-responsive {
  border-top: 10px solid #7c2ae8;
  height: 100vh; /* altura total da tela */
  background-image: url("../img/bannerdesk.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@media (max-width: 767.98px) {
  .bg-responsive {
    background-image: url("../img/bannermb.png");
  }
}

/* ---------- PURPLE TICKER BAR ---------- */
.ticker-wrapper {
  width: 100%;
  background: #8c52ff;
  overflow: hidden;
  white-space: nowrap;
}
.ticker-text {
  display: flex;
  flex-direction: row;
  padding: 1rem 0;
  animation: ticker 15s linear infinite;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 2px;
}
.ticker-text img {
  width: 100%;
  height: 30px;
}
@keyframes ticker {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.imgsection {
  background-color: #8c52ff;
}

/*Aulas*/
.aula-section {
  background-color: #8c52ff;
  padding: 60px 0;
  height: 750px;
}
.text-primary-aula {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}
.img-aula {
  max-width: 100%;
  height: 80%;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}
.p-aula {
  color: #fff; /* texto branco */
  font-size: 22px;
  line-height: 1.5;
}

.consultoria-section2 {
  background-color: #df3821;

  padding: 60px 0;
  height: 1000px;
}
.img-consultoria2 {
  max-width: 100%;
  height: 60%;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  animation: walk 1s infinite alternate;
}

/* Título */
.text-primary-consultoria2 {
  color: #fff;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Parágrafo */
.p-consultoria2 {
  color: #fff;
  font-size: 22px;
  line-height: 1.5;
}

.aula-section2 {
  background-color: #8c52ff;

  padding: 60px 0;
  height: 1000px;
}

.consultoria-section3 {
  background-color: #f4e038;

  padding: 60px 0;
  height: 1000px;
}
.img-consultoria3 {
  max-width: 100%;
  height: 100%;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  animation: walk 1s infinite alternate;
}

/* Título */
.text-primary-consultoria3 {
  color: #000;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Parágrafo */
.p-consultoria3 {
  color: #000;
  font-size: 22px;
  line-height: 1.5;
}
.consultoria-section4 {
  background-color: #fde7c9;

  padding: 60px 0;
  height: 1000px;
}

/*Seção FOTOS*/
.bg-color {
  background-color: #ff66cc; /* cor de fundo da seção */
  padding: 60px 0;
}

.foto-polaroid {
  background: #fff;
  padding: 15px 15px 60px 15px;
  border: 3px 3px 60px solid #fff;
  border-bottom: 16px solid #fff; /* borda inferior mais grossa */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 280px;
}
.foto-polaroid img {
  height: 300px;
}

.carousel-inner {
  align-items: center;
}

.carousel-item {
  transition: transform 0.6s ease;
  text-align: center;
}

/* Boneco */
.boneco-container {
  position: absolute;
  top: 435px;
  right: -120px;
  z-index: 2;
  pointer-events: none;
}

.boneco-iogurte {
  width: 100%;
  height: auto;
  rotate: 20deg;
}

.titulo-fotos {
  color: #7c2ae8;
  font-family: bright;
  font-size: 5rem;
  font-weight: bold;
}

.qmsou {
  margin-top: 0;
  margin-right: 40px;
  background-image: url("../img/BannerEmForma.png");
  padding: 60px 0;
  height: 1050px;
}
.img-qmsou {
  max-width: 80%;
  height: auto;
  margin: 60px;
  background: #211d1d;
  padding: 15px 15px 60px 15px;
  border: 3px 3px 60px solid #211d1d;
  border-bottom: 16px solid #211d1d;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: rotate(10deg);
}
.arrobalu {
  color: white;
  font-size: 40px;
  font-family: bright;
  rotate: 10deg;
  position: absolute;
  top: 465px;
  right: 20px;
}
/* Título */
.text-primary-qmsou {
  color: #3c3333;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

/* Parágrafo */
.p-qmsou {
  color: #3c3333;
  font-size: 22px;
  line-height: 1.5;
  padding-bottom: 20px;
}

.consultoria-section0 {
  background-color: #f08c2b;
  padding: 60px 0;
  height: 800px;
}
.img-consultoria0 {
  max-width: 100%;
  height: 60%;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  animation: walk 1s infinite alternate;
}

/* Título */
.text-primary-consultoria0 {
  color: #fff;
  font-size: 40px;
  margin-bottom: 20px;
}
.text-primary-consultoria0 span {
  color: #f08c2b;
  background-color: #f4e038;
  padding: 5px;
  width: 100%;
  height: 40px;
  border-radius: 10px 10px;
}

/* Parágrafo */
.p-consultoria0 {
  color: #fff;
  font-size: 22px;
  line-height: 1.5;
}

/*seção ferramentas*/
.bg-laranja {
  background-color: #f08c2b;
}
.bg-amarelo {
  background-color: #f4e038;
}
.img-ajustada {
  width: 100%;
  height: auto;
}
.item1 {
  rotate: -10deg;
}
.item2 {
  rotate: 10deg;
}

.consultoria-section8 {
  background-color: #80cc42;
  padding: 60px 0;
  height: 800px;
}

footer {
  background-color: #000;
  color: white;
  padding: 20px 40px;
}

.thumb-img {
  width: 80px;
  animation: flutuar 2.5s ease-in-out infinite;
}

@keyframes flutuar {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}

@media (max-width: 576px) {
  .thumb-img {
    width: 60px;
  }
}

@keyframes slideFadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animar-resultado {
  animation: slideFadeIn 0.6s ease-out forwards;
}
#resultado {
  font-family: "Segoe UI", sans-serif;
  word-break: normal;
  white-space: nowrap;
}
.transformar-horizontal {
  transform: scaleX(-1);
}
