:root {
    --purple:#7c2ae8;
    --black:#000;
    --white:#fff;
  }
  body,html {
    margin:0;
    padding:0;
    width:100%;
    height:100%;
    background:var(--black);
    color:var(--white);
    font-family:"Nunito",sans-serif;
    overflow-x:hidden;
    scroll-behavior: smooth;
  }
  @font-face {
    font-family: bright;
    src: url(../font/BrightDemo-axVxE.otf);
  }
  span, h1{
    font-family: bright;
    font-weight: 200;
  }
  p{
    font-family: "Montserrat", sans-serif;
    font-weight: 400 ;
  }
  /* ---------- NAVBAR ---------- */
  .navbar {
    background:transparent !important;
    top: 40px;
  }
  .navbar h1{
    color: #fff;
    font-size: 25px;
  }
  .navbar-brand img{
    width: 50px;
    transition: transform 0.6s ease;
    cursor: pointer;
  }
  .navbar-brand img:hover{
    transform: rotate(360deg)
  }
  /* ---------- OFFCANVAS MENU ---------- */
  .offcanvas-start{
    background:var(--black);
    width:50% !important;
  }
  .offcanvas a{
    color:var(--white);
    font-size:1.25rem;
    position:relative;
    text-decoration:none;
    display:inline-block;
    margin-bottom:1rem;
  }
  .offcanvas a::after{
    content:"";
    position:absolute;
    left:0;
    bottom:-4px;
    width:0;
    height:3px;
    background:var(--purple);
    transition:width .3s ease;
  }
  .offcanvas a:hover::after{
    width:100%;
  }
  /*Imagem do Logo no inicio*/
  .logo-inicio{
    background-image: url('..//img/bannerlogo.png');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 90vh;
    top: 50%;
    left: 50%;
  } 
  /* ---------- PURPLE TICKER BAR ---------- */
  .ticker-wrapper{
    width:100%;
    background:var(--purple);
    overflow:hidden;
    white-space:nowrap;
    border-top: 15px solid black;
  }
  .ticker-text{
    display:inline-block;
    padding:1rem 0;
    animation:ticker 60s linear infinite;
    font-weight:700;
    font-size:1.5rem;
    letter-spacing:2px;
  }
  @keyframes ticker{
    0%{transform:translateX(0%)}
    100%{transform:translateX(-100%)}
  }

  /*Seção Entre em Forma*/
.em-forma-bg {
  border-top: 3px solid #7c2ae8;
  margin-top: 10px;
  background-image: url('../img/BannerEmForma.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 1000px;
  overflow: hidden;
  padding: 60px 0;
}

/* Título principal */
.text-primary-emforma {
  color: #7c2ae8;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Parágrafo */
.p-emforma {
  font-size: 24px;
  color: #000;
  line-height: 1.5;
}

/* Imagem do iogurte */
.img-iogurte {
  max-width: 100%;
  height: 400px;
  display: block;
  margin: 0 auto;
  animation:walk 1s infinite alternate;
}


/* Seção Consultoria */
.consultoria-section {
  border-top: 5px solid #7c2ae8;
  background-image: url('../img/fundomelancia.png');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 0;
  height: 1000px;
}

/* Imagem */
.img-consultoria {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}

/* Título */
.text-primary-consultoria {
  color: #7c2ae8; /* cor roxa do título */
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Parágrafo */
.p-consultoria {
  color: #fff; /* texto branco */
  font-size: 22px;
  line-height: 1.5;
}

/*Aulas*/
.aula-section{
  border-top: 5px solid #fff;
  background-color: #7c2ae8;
  padding: 60px 0;
  height: 1000px;
}
.text-primary-aula{
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}
.img-aula{
  border: 8px solid #fff;
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
}
.p-aula{
  color: #fff; /* texto branco */
  font-size: 22px;
  line-height: 1.5;
}


.consultoria-section2 {
    border-top: 5px solid #000;
    background-image: url('../img/BannerEmForma.png');
    padding: 60px 0;
    height: 1000px;
}
.img-consultoria2 {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  animation:walk 1s infinite alternate;
}

/* Título */
.text-primary-consultoria2 {
  color: #7c2ae8; /* cor roxa do título */
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Parágrafo */
.p-consultoria2 {
  color: #000; /* texto branco */
  font-size: 22px;
  line-height: 1.5;
}
  

/*Seção FOTOS*/ 
.bg-color {
  background-color: #ff66cc; /* cor de fundo da seção */
  padding: 60px 0;
  position: relative;
}

.foto-polaroid {
  background: #fff;
  padding: 15px 15px 60px 15px;
  border: 3px 3px 60px solid #fff;
  border-bottom: 16px solid #fff; /* borda inferior mais grossa */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  width: 280px;
}
.foto-polaroid img{
  height: 300px;
}

.carousel-inner {
  align-items: center;
}

.carousel-item {
  transition: transform 0.6s ease;
  text-align: center;
}

/* Boneco */
.boneco-container {
  position: absolute;
  top: 0px;
  right: 5%;
  z-index: 2;
  pointer-events: none; /* permite clicar no carrossel normalmente */
}

.boneco-iogurte {
  width: 280px;
  max-width: 40vw;
}

.titulo-fotos {
  color: #7c2ae8;
  font-family: bright;
  font-size: 5rem;
  font-weight: bold;
}
  
.qmsou {
  margin-top: 0 auto;
    border-top: 5px solid #211d1d;
    background-image: url('../img/BannerEmForma.png');
    padding: 60px 0;
    height: 1000px;
}
.img-qmsou {
  max-width: 80%;
  height: auto;
  background: #211d1d;
  padding: 15px 15px 60px 15px;
  border: 3px 3px 60px solid #211d1d;
  border-bottom: 16px solid #211d1d;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transform: rotate(10deg);
}
/* Título */
.text-primary-qmsou {
  color: #3c3333;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

/* Parágrafo */
.p-qmsou {
  color: #3c3333;
  font-size: 22px;
  line-height: 1.5;
}

