@media (max-width: 768px) {
    #menu {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      position: absolute;
      width: 100%;
      right:0 ;
      top: 0;
      transition: .5s;
      z-index: 1000;
      height: 100vh;
      visibility: hidden;
      overflow: hidden;
      background-color: rgba(0, 0, 0, 0.884);
    }
    #nav.active #menu {
      height: 80vh;
      visibility: visible;
      overflow: auto;
    }
    #menu a {
      color: white;
      padding: 2px;
      margin: 0 .2rem;
      text-decoration: none;
    }
    #menu a:hover{
      color: rgb(88, 88, 88);
    }
    #btn-mobile{
      display: flex;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border: none;
      background: none;
      cursor: pointer;
      gap: 0.5rem;
    }
    #hamburger {
      z-index: 99999999999;
      color: white;
      border-top: 2px solid;
      width: 20px;
    }
    #hamburger::after,
    #hamburger::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      transition: 0.3s;
      position: relative;
    }
    #nav.active #hamburger {
      border-top-color: transparent;
    }
    #nav.active #hamburger::before {
      transform: rotate(135deg);
    }
    #nav.active #hamburger::after {
      transform: rotate(-135deg);
      top: -7px;
    }
    .btn-contato{
        display: none;
    }
    .banner{
      background-image: url('../img/bannermbl.png');
      background-position: center;
      background-size: cover;
    }
    .banner h1, span{
        font-size: 12px;
        text-align: center;
    }
    .services-container img{
      display: none;
    }
    .services-container .service-box{
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    .service-info p{
      font-size: larger;
    }
    .banner-amigos p{
      font-size: 12px;
      text-align: center;
  }
  }